body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
.navbar{
  margin: 0;
  padding-left: 7rem;
  padding-right: 7rem;
  width: 100%;
  height: 10vh;
  background: rgb(76,171,201);
}

.nav__link {
  float: right;
  margin-top: 1.5rem;
}

.title-text {
  color: white;
  margin-top: 1rem;
  float: left;
}

.section {
  margin: 0;
}

.container {
  overflow: auto;
  max-width: 60rem;
  margin: 0 auto;
}
.grid {
  overflow: auto;
}

.grid__item {
  border-radius: 0.3rem;
  border: rgba(131,131,131,.46) 0.1rem solid;
  margin: 1rem;
  width: calc(100% / 3 - 1rem - 1rem);
  min-width: 10rem;
  float: left;
}

.profile {

}

.profile-info {
  padding: 0.5rem;
  overflow: auto;
}
.profile-details {
  padding: 0.5rem ;
  border-top: rgba(131,131,131,.46) 0.1rem solid;
}

.profile__subsection {
  float: right;
}

.profile__picture {
  float: left;
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  margin-right: 0.5rem;
}
.profile__name {
  margin: 0;
}

.profile__username {
  font-size: 15px;
  color: rgba(101,100,100,.5);
  margin: 0;
}

.profile__dot-turq {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background: turquoise;
  border-radius: 50%;
}
.profile__dot-red {
  display: inline-block;
  height: 0.5rem;
  width: 0.5rem;
  background: red;
  border-radius: 50%;
}

.profile__language {
  font-size: 12px;
  display: inline-block;
  margin: 0;
  text-align: right;
}

.profile__repo {
  font-size: 12px;
  display: inline-block;
  margin: 0;
}
